.add-todo-form {
  display: flex;
  justify-content: space-between;
  border-left: 4px solid var(--primary-color);
  padding: 5px;
}

.add-todo-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--text-color);
}

.add-todo-form button {
  margin-left: 5px;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
}
